body{
    background:url(bg.png) no-repeat;
    background-size: cover;
}
a{
    font-weight: bold;
    transition: .3s;
}
a:hover{
    color: rgba(243, 197, 114, 0.85);
    text-decoration: none; !important;
    transition: .3s;
}


.open{
    background-color: transparent; !important;
}
.open a {
    color: orange; !important;

}
tr{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


table{
    margin-bottom: 50px;
    border: 10px solid #0a0a0a;

}
.problem{
    margin-top: -3%;
}

.head {
    margin-top: 5.3%;
    padding-top: -10px;
    font-size: 50px;
    animation: topic 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

body::-webkit-scrollbar {
    overflow: auto;
    background-color: rgba(10, 10, 10, 0.4);
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(10, 10, 10, 0.4);
}

body::-webkit-scrollbar-thumb {
    background-color: darkorange;
    border-radius: 10px;
    border: 4px solid darkorange;
}

body::-webkit-scrollbar-button {
    display:none;
}


@keyframes topic {
    0% {
        letter-spacing: -1em;
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 18px orange;
    }
}
@keyframes fade-in{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}