html{
    color: black;
}
.head{
    text-align: center;
    font-family: hallowen_inlineregular, h;
    letter-spacing: 15px;
    color: white;
    opacity: 70%;
}
body{
    background: url("bg.png") no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.empty{
    width: 50%;
}
.navbar{
    text-align: center;
    border: 2px solid orange;
    border-left: none;
    border-right: none;
    width: 100%;
    background: black;
    margin-top: -80px;
    font-family: Arial,Serif;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
}
li{
    display: inline-flex;
    padding-right: 10px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: green;
}
table{
    table-layout: auto;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    border: 2px solid;
    background-color: #0a0a0a;
    opacity: 85%;
    color: white;
    border-radius: 10px;
    animation: glow 2s both;
    animation-delay: 2s;
    padding: 10px;
}
.problem{
    position: absolute;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-family: Arial,Serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px
}
.tableProb{
    table-layout: auto;
    border: none;
    margin-bottom: 100px;
}
.output{
    width: 70%;
}
.ledgerOutput{
    margin-bottom: 100px;

}
.trProblem{
    vertical-align: top;
}
.trAdjusting{
    vertical-align: center;
}
td{
    border: 1px solid;
    font-family: Arial,Serif;
    padding: 2px;
}
.prob1, .data, .second{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
.data, .second{
    text-align: left;
}

.noBorder{
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 5px;
    animation: none;
}
.tdNoBorder{
    border: none;
    border-radius: 5px;
    padding: 5px;

}
 .titlenoborder{
     font-size: 25px;
     font-weight: 20;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    animation: textglow .7s ease-in-out both;
    font-family: happy_halloweenregular,h;
}
.tdNoBorder:last-child{
    color: orange;
}
.accountTitle{
    text-align: left;
    padding-left: 10px;
}
.accountTitleWS{
    text-align: left;
    padding-left: 10px;
    border-right-width: 2px;
    border-left-width: 2px;
}
.separate{
    height: 20px;
}
.dates{
    text-align: right;
    padding-left: 0px;
    padding-right: 10px;
}
.whitespace{
    margin-bottom: 100px;
}
.bold{
    font-weight: bold;
    border: 2px solid;
}
.open{
    background-color: darkorange;
}
.lineWidth{
    border-width: 2px;
    font-weight: bold;
}
.leftLineWidth{
    border: none;
    border-left-width:2px;
}
.leftLineWidthLedger{
    border: none;
    border-left: 2px solid;
}
.rightLineWidth{
    border-right-width: 2px;
}
.amount{
    padding-left: 100px;
    text-align: right;
    padding-right: 5px;
}
.tAcc{
    display: inline-flex;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 2%;
    margin-right: 2%;
}
.ledgerOutput{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.borderBottom{
    border: none;
    border-bottom: 2px solid;
}
.empty{
    border: none;
    width: 50%;
}
.empty2{
    border: none;
    border-left: 2px solid;
    width: 50%;
}

@font-face {
    font-family: 'hallowen_inlineregular';
    src: url('halloweninline-webfont.woff2') format('woff2'),
    url('halloweninline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'happy_halloweenregular';
    src: url('happyhalloween-webfont.woff2') format('woff2'),
    url('happyhalloween-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@keyframes glow {
    0%{
        box-shadow: 0 0 0 orange;
    }
    100%{
        box-shadow: 0 0 20px orange;
    }
}
@keyframes textglow {
    0%{
        text-shadow: 0 0 0 rgba(0,0,0,0);
    }
    100%{
        text-shadow: 0 0 20px darkorange,0 0 20px darkorange, 0 0 30px black,0 0 30px black,0 0 30px black;
    }
}